@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
html {
  height: 100%; }

body {
  background: #002235;
  color: #7cdbf3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px; }

.container {
  overflow: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%; }

.microservice {
  width: 60%;
  clear: both;
  background: tan;
  position: relative; }

.stages {
  width: 80%; }

.stage {
  background: #002a42;
  border-radius: 4px;
  float: left;
  margin: 40px 10px 10px 10px;
  height: 50px;
  position: relative; }
  .two-stages .stage {
    width: calc(50% - 20px); }
  .three-stages .stage {
    width: calc(33.3% - 20px); }
  .four-stages .stage {
    width: calc(25% - 20px); }
  .stage:after {
    content: "";
    background-color: #002a42;
    -webkit-mask-image: url(https://dl.dropboxusercontent.com/u/4371641/link.svg);
            mask-image: url(https://dl.dropboxusercontent.com/u/4371641/link.svg);
    width: 20px;
    height: 26px;
    position: absolute;
    right: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .stage.stage-lg {
    width: calc(20% - 10px);
    margin-right: 0;
    margin-top: 0;
    height: 130px; }
    .stage.stage-lg:after {
      display: none; }
  .stage h2 {
    margin: 0;
    line-height: 25px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    bottom: -25px; }

@-webkit-keyframes move {
  to {
    -webkit-transform: translateY(-50%) translateX(140%);
            transform: translateY(-50%) translateX(140%); } }

@keyframes move {
  to {
    -webkit-transform: translateY(-50%) translateX(140%);
            transform: translateY(-50%) translateX(140%); } }

.commit {
  background: #a18fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-1700%);
          transform: translateY(-50%) translateX(-1700%);
  -webkit-animation: move 9s ease;
          animation: move 9s ease; }
