@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
html {
  height: 100%; }

body {
  background: #002235;
  color: #7cdbf3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
  margin: 0;
  height: calc(100% - 16px); }

.environment {
  background: #002a42;
  border-radius: 2px;
  float: left;
  margin: 0 2px 4px 2px;
  padding: 20px;
  width: calc(25% - 44px);
  height: calc(45% - 44px); }
  .environment.environment-lg {
    margin-bottom: 0px;
    height: calc(55% - 44px);
    width: calc(100% - 44px); }
  .environment h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase; }

@-webkit-keyframes circle-rotation {
  to {
    stroke-dasharray: 100 100; } }

@keyframes circle-rotation {
  to {
    stroke-dasharray: 100 100; } }

@-webkit-keyframes pulse-red {
  to {
    box-shadow: 0 0 100px #00b9e4; } }

@keyframes pulse-red {
  to {
    box-shadow: 0 0 100px #00b9e4; } }

.planet {
  -webkit-transform: rotate(-0.25turn) scale(0.4);
          transform: rotate(-0.25turn) scale(0.4);
  background: #005c66;
  border-radius: 50%;
  border: 8px solid #7dbdc3; }
  .planet circle {
    stroke: #7dbdc3;
    stroke-width: 32;
    stroke-dasharray: 0 100;
    fill: none;
    -webkit-animation: circle-rotation 3s linear infinite;
            animation: circle-rotation 3s linear infinite; }
  .planet.planet-red {
    background: #8b0000;
    border-color: #ce0000;
    box-shadow: 0 0 0px red;
    -webkit-animation: pulse-red 1s ease-in-out alternate infinite;
            animation: pulse-red 1s ease-in-out alternate infinite; }
    .planet.planet-red circle {
      stroke: #ce0000; }
  .planet.planet-yellow {
    background: #b58100;
    border-color: #f0ab00; }
    .planet.planet-yellow circle {
      stroke: #f0ab00; }
  .planet.planet-blue {
    background: #008bad;
    border-color: #00b9e4; }
    .planet.planet-blue circle {
      stroke: #00b9e4; }
  .planet.planet-green {
    background: #2d7623;
    border-color: #92d400; }
    .planet.planet-green circle {
      stroke: #92d400; }

@-webkit-keyframes pulse-star {
  to {
    box-shadow: 0px 0 35px #00b9e4;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    background: rgba(255, 255, 255, 0.85); } }

@keyframes pulse-star {
  to {
    box-shadow: 0px 0 35px #00b9e4;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    background: rgba(255, 255, 255, 0.85); } }

.star {
  background: #bde4f5;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
  width: 8px;
  height: 8px;
  -webkit-animation: pulse-star 2s ease alternate infinite;
          animation: pulse-star 2s ease alternate infinite;
  margin: 20px;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1); }
