@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
html {
  height: 100%; }

body {
  background: #002235;
  color: #7dc3e8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
  height: calc(100% - 16px); }

.environment {
  background: #002a42;
  border-radius: 2px;
  float: left;
  margin: 0 2px 4px 2px;
  padding: 20px;
  width: calc(25% - 44px);
  height: calc(45% - 44px); }
  .environment.environment-lg {
    margin-bottom: 0px;
    height: calc(55% - 44px);
    width: calc(100% - 44px); }
  .environment h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase; }

.ball {
  background: #eba800;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  z-index: 1; }
  .ball:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 10px;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #f9d67a; }

.planet-core {
  fill: #f9d67a; }

.planet-loader {
  fill: #eba800; }
