@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
html {
  height: 100%; }

body {
  background: #002235;
  color: #7cdbf3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container {
  width: 100%; }

.microservice {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
  width: 60%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .microservice:hover {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
            transform: scale3d(1.15, 1.15, 1.15);
    -webkit-filter: drop-shadow(0 0 10px #00b9e4);
            filter: drop-shadow(0 0 10px #00b9e4);
    z-index: 10; }
  .microservice h1 {
    position: absolute;
    top: 15px;
    left: 10px;
    margin: 0;
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    font-weight: 600; }
    .microservice h1 span {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7); }

.stages {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.stage {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 10%;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
  background-color: #002a42;
  border-radius: 2px;
  margin: 0px 10px 10px 10px;
  height: 50px;
  position: relative; }
  .stage:after {
    content: "";
    background-color: #002a42;
    -webkit-mask-image: url(https://dl.dropboxusercontent.com/u/4371641/link.svg);
            mask-image: url(https://dl.dropboxusercontent.com/u/4371641/link.svg);
    width: 20px;
    height: 26px;
    position: absolute;
    right: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .stage.stage-lg {
    margin-right: 0;
    margin-top: 0;
    height: 130px;
    background-color: red;
    background-image: -webkit-linear-gradient(right, #002235 0%, #002a42 80%);
    background-image: linear-gradient(to left, #002235 0%, #002a42 80%); }
    .stage.stage-lg:after {
      display: none; }
  .stage h2 {
    margin: 0;
    line-height: 25px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    bottom: -25px; }

@-webkit-keyframes move {
  90% {
    -webkit-filter: opacity(1);
            filter: opacity(1); }
  100% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
    -webkit-transform: translateY(-50%) translateX(-1600%);
            transform: translateY(-50%) translateX(-1600%); } }

@keyframes move {
  90% {
    -webkit-filter: opacity(1);
            filter: opacity(1); }
  100% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
    -webkit-transform: translateY(-50%) translateX(-1600%);
            transform: translateY(-50%) translateX(-1600%); } }

@-webkit-keyframes pulse-red {
  to {
    box-shadow: 0 0 10px #00b9e4; } }

@keyframes pulse-red {
  to {
    box-shadow: 0 0 10px #00b9e4; } }

.commit {
  background-color: #a18fff;
  border: 2px solid #582fc0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(55px);
          transform: translateY(-50%) translateX(55px); }
  .animate .commit {
    -webkit-animation: move 9s linear infinite;
            animation: move 9s linear infinite;
    -webkit-animation-direction: reverse;
            animation-direction: reverse; }
  .commit.commit-blue {
    background-color: #00b9e4;
    border-color: #008bad;
    -webkit-transform: translateY(10px) translateX(55px);
            transform: translateY(10px) translateX(55px); }
  .commit.commit-green {
    background-color: #92d400;
    border-color: #2d7623;
    -webkit-transform: translateY(-50px) translateX(55px);
            transform: translateY(-50px) translateX(55px); }
  .commit.commit-yellow {
    background-color: #f0ab00;
    border-color: #b58100; }
  .commit.commit-red {
    background-color: #ce0000;
    border-color: #8b0000;
    -webkit-animation: pulse-red 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate infinite;
            animation: pulse-red 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate infinite; }
