// TODO Separar lo que es general de lo ques particular del demo

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

$color-background:          #002235;
$color-background-env:      #002a42;
$color-text:                #7cdbf3;
$color-teal:                #7dbdc3;
$color-teal-dark:           #005c66;
$color-violet:              #a18fff;
$color-violet-dark:         #582fc0;
$color-orange:              #f7bd7f;
$color-orange-dark:         #b35c00;
$color-yellow:              #f0ab00;
$color-yellow-dark:         #b58100;
$color-red:                 #ce0000;
$color-red-dark:            #8b0000;
$color-blue:                #00b9e4;
$color-blue-dark:           #008bad;
$color-green:               #92d400;
$color-green-dark:          #2d7623;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          600;
$font-size-base:            12px;
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

html{
  height: 100%;
}

body{
  background: $color-background;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  margin-top: 40px;
//  padding: 8px;
//  margin: 0;
//  height: calc(100% - 16px);
}


// Microservice ==============

.microservice{
  width: 60%;
  clear: both;
  background: tan;
  position: relative;
}

// Stages ==============

.stages{
//  background: yellow;
  width: 80%;
//  position: relative;
//  padding-top: 50px;
//  transform: translateY(-50%);
}
// Stage ==============

.stage{
  background: $color-background-env; //$color-background-env;
  border-radius: 4px;
  float: left;
  margin: 40px 10px 0px 10px;
  width: calc(33.3% - 20px);
  height: 50px;
  position: relative;
  &:after{
    content: "";
    background-color: $color-background-env;
    mask-image: url(https://dl.dropboxusercontent.com/u/4371641/link.svg);
    width: 20px;
    height: 26px;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  &.stage-lg{
    width: calc(20% - 10px);
    margin-right: 0;
    margin-top: 0;
    height: 130px;
    &:after{
      display: none;
    }
  }
  h2{
    margin: 0;
    line-height: 25px;
//    background: red;
    font-size: $font-size-base;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    bottom: -25px;
//    left: 5px;
  }
}

// Microservice ==============

@keyframes move{
  to{
    transform: translateY(-50%) translateX(140%) ;
  }
}

.commit{
  background: $color-violet;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-1700%);
  animation: move 9s ease;

}
