// TODO Separar lo que es general de lo ques particular del demo

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

$color-background:          #002235;
$color-background-env:      #002a42;
$color-text:                #7dc3e8;
$color-yellow:              #f9d67a;
$color-yellow-dark:         #eba800;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          600;
$font-size-base:            14px;

html{
  height: 100%;
}

body{
  background: $color-background;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  padding: 8px;
  height: calc(100% - 32px);
}

.environment{
  background: $color-background-env;
  border-radius: 2px;
  float: left;
  margin: 0 2px 4px 2px;
  padding: 20px;
  width: calc(25% - 44px);
  height: calc(45% - 44px);
  &.environment-lg{
    margin-bottom: 0px;
    height: calc(55% - 44px);
    width: calc(100% - 44px);
  }
  h2{
    margin: 0;
    font-size: $font-size-base + 2;
    font-weight: normal;
    text-transform: uppercase;
  }
}



@keyframes circle-rotation{
  to{
    stroke-dasharray: 100 100;
  }
}
@keyframes color-change{
  to{
    filter: saturate(1);
    transform: rotate(-.25turn) scale(.6);
  }
}

.planet{
  transform: rotate(-.25turn) scale(.6);
  circle{
    stroke: $color-yellow-dark;
    stroke-width:5;
    stroke-dasharray: 0 100;
    fill:$color-yellow;
    animation: circle-rotation 5s linear infinite;
  }
}


.planet2{
  transform: rotate(-.25turn) scale(.4);
  background: $color-yellow;
  border-radius: 50%;
  border: 5px solid $color-yellow-dark;
  filter: saturate(0);
  animation: color-change 3s linear infinite;
  animation-delay: 3s;
  circle{
    stroke: $color-yellow-dark;
    stroke-width:32;
    stroke-dasharray: 0 100;
    fill:none;
    animation: circle-rotation 3s linear infinite;
  }
}

.planet3{
  transform: rotate(-.25turn) scale(.3);
  border-radius: 50%;
//  border: 5px solid $color-yellow-dark;
  filter: saturate(0);
  animation: color-change 3s linear infinite;
  animation-delay: 3s;
  circle{
    stroke: $color-yellow-dark;
    stroke-width:5;
    stroke-dasharray: 0 100;
    fill: $color-yellow;
    animation: circle-rotation 3s linear infinite;
  }
}
